.movieListTitle {
    font-size: 15px;
    text-align: center;
    color: #BBB;
    text-decoration: none;
    margin-top: 3px;
}

.filmPage{
    background-size: cover;
    min-height: 100vh;
}

.filmPage:before {
    background: rgba(0, 0, 0, 0.60);
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    min-height: 100vh;
}

.filmHeader{
    position: absolute;
    bottom: 50px;
}

.filmTitle{
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase
}

.filmTagLine{
    font-size: 25px;
}

.filmInfo{
    background: rgb(248, 241, 241);
    color: rgb(41, 39, 39);
    padding-top: 20px;
}

/* .castBox:last-child {
    padding-top: 100px;
} */

.load-more {
    display: block;
    border: 0;
    margin: 1em auto;
    padding: 0.75em 1em;
    font-size: 1em;
    background-color: #c34d41;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Nanum Gothic", "Verdana", sans-serif;
    cursor: pointer;
}

.load-more:focus {
    outline: 1px solid rgba(255, 255, 255, 0.5);
}

.castName{
    font-size: 15px;
    font-weight: bold;
}

.castPosition{
    font-size: 13px;
}

.navbar{
    position: absolute !important;
    background-color: transparent !important;
    z-index: 100;
    color: #facada;
}

a.nav-link{
    color: #BBB !important;
}

.linkDefault, .linkDefault:hover{
    text-decoration: none;
    color: rgb(41, 39, 39);
}